.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.cards-list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14.5rem, 1fr));
  gap: 1rem;
}
