.card {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 4280/2699;
  font-weight: 500;
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0.5rem 1.5rem 0;
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: #1c1c1c;
  }
}

.text {
  font-weight: 600;
  will-change: font-size;
}